appsettings.Development.json
appsettings.json
.vscode/launch.json
.vscode/tasks.json
Properties/launchSettings.json
bin/Debug/netcoreapp2.2/k8s.net.demo.deps.json
bin/Debug/netcoreapp2.2/k8s.net.demo.dll
bin/Debug/netcoreapp2.2/k8s.net.demo.pdb
bin/Debug/netcoreapp2.2/k8s.net.demo.runtimeconfig.dev.json
bin/Debug/netcoreapp2.2/k8s.net.demo.runtimeconfig.json
bin/Debug/netcoreapp2.2/k8s.net.demo.Views.dll
bin/Debug/netcoreapp2.2/k8s.net.demo.Views.pdb
obj/k8s.net.demo.csproj.nuget.cache
obj/k8s.net.demo.csproj.nuget.dgspec.json
obj/k8s.net.demo.csproj.nuget.g.props
obj/k8s.net.demo.csproj.nuget.g.targets
obj/project.assets.json
obj/Debug/netcoreapp2.2/k8s.net.demo.AssemblyInfo.cs
obj/Debug/netcoreapp2.2/k8s.net.demo.AssemblyInfoInputs.cache
obj/Debug/netcoreapp2.2/k8s.net.demo.assets.cache
obj/Debug/netcoreapp2.2/k8s.net.demo.csproj.CopyComplete
obj/Debug/netcoreapp2.2/k8s.net.demo.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp2.2/k8s.net.demo.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp2.2/k8s.net.demo.csprojAssemblyReference.cache
obj/Debug/netcoreapp2.2/k8s.net.demo.dll
obj/Debug/netcoreapp2.2/k8s.net.demo.pdb
obj/Debug/netcoreapp2.2/k8s.net.demo.RazorAssemblyInfo.cache
obj/Debug/netcoreapp2.2/k8s.net.demo.RazorAssemblyInfo.cs
obj/Debug/netcoreapp2.2/k8s.net.demo.RazorCoreGenerate.cache
obj/Debug/netcoreapp2.2/project.razor.json
obj/Debug/netcoreapp2.2/k8s.net.demo.Views.pdb
obj/Debug/netcoreapp2.2/k8s.net.demo.Views.dll
obj/Debug/netcoreapp2.2/k8s.net.demo.TagHelpers.output.cache
obj/Debug/netcoreapp2.2/k8s.net.demo.TagHelpers.input.cache
obj/Debug/netcoreapp2.2/k8s.net.demo.RazorTargetAssemblyInfo.cs
obj/Debug/netcoreapp2.2/k8s.net.demo.RazorTargetAssemblyInfo.cache
obj/Debug/netcoreapp2.2/Razor/Views/Shared/Error.g.cshtml.cs
obj/Debug/netcoreapp2.2/Razor/Views/Shared/_ValidationScriptsPartial.g.cshtml.cs
obj/Debug/netcoreapp2.2/Razor/Views/Shared/_Layout.g.cshtml.cs
obj/Debug/netcoreapp2.2/Razor/Views/Shared/_CookieConsentPartial.g.cshtml.cs
obj/Debug/netcoreapp2.2/Razor/Views/Home/Privacy.g.cshtml.cs
obj/Debug/netcoreapp2.2/Razor/Views/Home/Index.g.cshtml.cs
obj/Debug/netcoreapp2.2/Razor/Views/_ViewStart.g.cshtml.cs
obj/Debug/netcoreapp2.2/Razor/Views/_ViewImports.g.cshtml.cs
.vs/k8s.net.demo/v16/Server/sqlite3/db.lock
.vs/k8s.net.demo/v16/.suo
.vs/k8s.net.demo/config/applicationhost.config
.vs/k8s.net.demo/DesignTimeBuild/.dtbcache
bin/Debug/netcoreapp2.2/Properties/launchSettings.json
obj/Debug/netcoreapp2.2/Razor/Views/_ViewImports.cshtml.g.cs
obj/Debug/netcoreapp2.2/Razor/Views/_ViewStart.cshtml.g.cs
obj/Debug/netcoreapp2.2/Razor/Views/Home/Index.cshtml.g.cs
obj/Debug/netcoreapp2.2/Razor/Views/Home/Privacy.cshtml.g.cs
obj/Debug/netcoreapp2.2/Razor/Views/Shared/_CookieConsentPartial.cshtml.g.cs
obj/Debug/netcoreapp2.2/Razor/Views/Shared/_Layout.cshtml.g.cs
obj/Debug/netcoreapp2.2/Razor/Views/Shared/_ValidationScriptsPartial.cshtml.g.cs
obj/Debug/netcoreapp2.2/Razor/Views/Shared/Error.cshtml.g.cs
.vs/k8s.net.demo/v16/Server/sqlite3/storage.ide
